modules = ["nodejs-20", "web", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Transkrip App (Django)"

[[workflows.workflow]]
name = "Transkrip App (Django)"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=23524 bash artifacts/transkrip-app/run.sh"
waitForPort = 23524

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
DEBUG = "True"
DEFAULT_NAMA_DEKAN = "Dr. Nama Dekan, M.T."
FEEDER_HOST = "82.41.42.150"
FEEDER_USERNAME = "rroyani887@gmail.com"
